@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

*{
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 100px;
    justify-content: space-between;
}